.navbar {
  /* position: sticky; */
  top: 0;
  box-shadow: 5px 5px 20px rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 2px solid aqua;
  box-shadow: 10px 10px 30px rgb(84, 84, 84);
  
}

.brand{
  margin-left: 10px;
}

.heart{
  /* margin-top: 10px; */
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  right: 20px;
  color: aliceblue;
}

.heart1{
  color: rgb(255, 0, 43);
  font-size: 18px;
 position: relative;
  top: 1px;
}

.user{
  color: aliceblue;
  margin-right: 20px;
}

.myorders{
  color: white;
}

.addcard1{
  color: white;
  font-size: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 #414141;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border: 2px solid rgb(255, 255, 255);
   
  }

  
  .price {
    color: grey;
    font-size: 15px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 1px;
    color: white;
    background-color: #ff2e13;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    border: 1px solid white;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  .back{
   color: rgb(196, 196, 196);
  }



  a{
    text-decoration: none !important;
  }
.card{
    margin-top: 20px;
    /* height: 300px; */
}

.whislist{
  color: white;
  position: relative;
  bottom: 5px;
  font-size: 10px;
}


.navbar {
    /* position: sticky; */
    top: 0;
    box-shadow: 5px 5px 20px rgb(68, 68, 68);
    background-color: rgb(0, 0, 0);
    border: 2px solid aqua;
  }

.addcard{
    font-size: 30px;
    
    color: rgb(0, 0, 0);
}

.addcard:hover{
  color: #515151;
}

body{
  background: rgb(245,135,255);
  background: -moz-radial-gradient(circle, rgba(245,135,255,0.6754858193277311) 0%, rgba(164,255,240,1) 82%);
  background: -webkit-radial-gradient(circle, rgba(245,135,255,0.6754858193277311) 0%, rgba(164,255,240,1) 82%);
  background: radial-gradient(circle, rgba(245,135,255,0.6754858193277311) 0%, rgba(164,255,240,1) 82%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f587ff",endColorstr="#a4fff0",GradientType=1);;
}


.cardimage{
  height: 200px;
  padding: 20px;
}

.card:hover{
  border: 1px solid black;
}

@media (max-width: 767px) {
  .cardimage {
    height: 300px;  
  }
}

button{
  font-family: fantasy;
}
