#container{

    /* background: rgb(34,193,195); */
/* background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); */  
width: 200px;
background: rgb(34,193,195);
background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(223,45,253,1) 100%);
border-radius: 10px;
background-color: rgb(130, 130, 130);
border: 2px solid black;


}

button{
border-radius: 10px;
border: 2px solid rgb(145, 145, 144);
padding: 10px;
margin-top: 10px;
text-align: center;
    
    
}

button{
    

margin-left: 5px;
cursor: pointer;
    
}
input{
border-radius: 10px;
padding: 10px;
padding-left: 15px;
border: 2px solid rgb(187, 187, 187);
text-align: right;
    

}

#container{
height: 70vh;
display: flex;
align-items: center;
justify-content: center;
}

#equal{

padding: 15px;
    
}



body{
display:flex;
justify-content: center;
text-align: center;
 
}

h2{
font-size: 20px;
color: white;

}
